.wrapper {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 25px 15px 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.unPadding {
    padding: 0;
}
