:root {
    --primary: rgb(254, 44, 85);
    --black: #000;
    --white: #fff;
    --orange: rgb(239, 104, 58);

    --text-color: #434343;

    --a-color: #2962ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    background-color: transparent;
}

a[href] {
    color: var(--a-color);
    text-decoration: none;
}

li {
    list-style-type: none;
}
